.header-container{
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.logo-rikkei{
    width: 200px;
}

.rikkei-academy{
    width: 100%;
    vertical-align: middle;
}

.title-project{
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

